# virtual environment
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env

# Django migrations
migrations/
*.sqlite3

# IDE files
.vscode/
*.swp

#environment variables
.env

# OS files
.DS_Store
Thumbs.db
